
  <div class="group">
    <%= f.label :motivo, t("activerecord.attributes.prontuario.motivo", :default => "Motivo"), :class => :label %>
    <%= f.text_field :motivo, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :diagnostico, t("activerecord.attributes.prontuario.diagnostico", :default => "Diagnostico"), :class => :label %>
    <%= f.text_field :diagnostico, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :observacao, t("activerecord.attributes.prontuario.observacao", :default => "Observacao"), :class => :label %>
    <%= f.text_field :observacao, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Salvar")}") %> <%= t("web-app-theme.save", :default => "Salvar") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancelar")}")} #{t("web-app-theme.cancel", :default => "Cancelar")}", prontuarios_path, :class => "button" %> 
</div>
