<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "Lista")}", exames_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Novo")}", new_exame_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "Lista")  %> de Exames</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.exame.tipo", :default => t("activerecord.labels.tipo", :default => "Tipo")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Criado em")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @exames.each do |exame| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= exame.id %>
          </td>
                    <td>
            <%= link_to exame.tipo, exame_path(exame) %>
          </td>
                    <td>
            <%= exame.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", exame_path(exame) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_exame_path(exame) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", exame_path(exame), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
